In [534]:
import pandas as pd

In [535]:
import numpy as np

In [536]:
population = pd.read_csv("/Users/juliettegoardon/Desktop/SQL Project/population_by_age_group.csv")
""" https://www.kaggle.com/datasets/elmoallistair/population-by-age-group-2021/ """

In [537]:
population

In [492]:
population_EU = population.loc[population["Country"].isin(['Germany','Austria', "Spain", "Finland","Romania", "Sweden", "Latvia", "Estonia", "France", "Czechia", "Belgium", "Denmark", "Greece", "Bulgaria", "Luxembourg", "Lithuania", "Hungary", "Italy", "Netherlands", "Poland", "Croatia", "Slovenia", "Portugal", "Slovakia","Cyprus", "Ireland", "Malta"])]
population_EU

In [493]:
population_EU = population_EU.sort_values(by='Country').reset_index(drop=True)
population_EU

In [494]:
population_EU.columns

In [495]:
population_EU = population_EU[["Country",'15-24 years','25-64 years']]
population_EU = population_EU.rename(columns={'Country': 'Country_Name'})
population_EU

In [496]:
population_EU = population_EU.rename(columns={'15-24 years': 'Young_Adults'})
population_EU = population_EU.rename(columns={'25-64 years': 'Active_Workers'})
population_EU

In [497]:
population_EU["Total_Population"] = population_EU["Young_Adults"] + population_EU["Active_Workers"]
population_EU

In [498]:
import pandas as pd

population_EU = pd.merge(population_EU, Country_Index, on="Country_Name")
population_EU

In [499]:
population_EU = population_EU[["Country_ID","Country_Name", "Young_Adults", "Active_Workers", "Total_Population"]]
population_EU

In [500]:
import os  
os.makedirs('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV', exist_ok=True)  
population_EU.to_csv('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV/population_EU.csv')

In [501]:
""" MOVING ON TO: THE GDP """

In [502]:
GDP = pd.read_csv("/Users/juliettegoardon/Desktop/SQL-Project/Countries_GDP.csv")

""" https://www.kaggle.com/datasets/rajkumarpandey02/gdp-in-usd-per-capita-income-by-country """

In [503]:
GDP

In [504]:
GDP.columns

In [505]:
GDP = GDP.rename(columns={'Country/Territory': 'Country_Name'})

In [506]:
GDP_EU = GDP.loc[GDP["Country_Name"].isin(['Germany','Austria', "Spain", "Finland","Romania", "Sweden", "Latvia", "Estonia", "France", "Czechia", "Belgium", "Denmark", "Greece", "Bulgaria", "Luxembourg", "Lithuania", "Hungary", "Italy", "Netherlands", "Poland", "Croatia", "Slovenia", "Portugal", "Slovakia", "Czech Republic", "Cyprus", "Malta", "Ireland"])]
GDP_EU

In [507]:
GDP_EU.shape

In [508]:
GDP_EU = GDP_EU.sort_values(by='Country_Name').reset_index(drop=True)
GDP_EU

In [509]:
GDP_EU = GDP_EU[['Country_Name', 'IMF']]

In [510]:
GDP_EU

In [511]:
import pandas as pd

GDP_EU = pd.merge(GDP_EU, Country_Index, on="Country_Name")
GDP_EU

In [512]:
import os  
os.makedirs('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV', exist_ok=True)  
GDP_EU.to_csv('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV/GDP_EU.csv')

In [513]:
""" MOVING ON TO: FUTURE EMPLOYMENT GROWTH IN HIGH TECH """

In [514]:
Growth = pd.read_csv("/Users/juliettegoardon/Desktop/SQL-Project/Employment growth in Whole high-tech economy in 2022-2035.csv")

""" https://www.cedefop.europa.eu/en/tools/skills-intelligence/employment-growth-high-tech-economy?country=EU27&year=2022-2035#2 """

In [515]:
Growth

In [516]:
Growth_EU = Growth[Growth['Countries'] != 'EU27'].reset_index(drop=True)
Growth_EU

In [517]:
Growth_EU = Growth_EU.rename(columns={'Countries': 'Country_Name'})
Growth_EU

In [518]:
Growth_EU = Growth_EU.sort_values(by='Country_Name').reset_index(drop=True)
Growth_EU

In [519]:
Growth_EU = Growth_EU[["Country_Name", "Value"]]
Growth_EU

In [520]:
import pandas as pd

Growth_EU = pd.merge(Growth_EU, Country_Index, on="Country_Name")
Growth_EU

In [521]:
import os  
os.makedirs('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV', exist_ok=True)  
Growth_EU.to_csv('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV/Growth_EU.csv')

In [522]:
""" MOVING ON TO: EMPLOYMENT WITH BASIC IT SKILLS """

In [523]:
Skills = pd.read_csv("/Users/juliettegoardon/Desktop/SQL-Project/Share of All in employment in 2021 with above basic digital skills across European countries.csv")

"""https://www.cedefop.europa.eu/en/tools/skills-intelligence/digital-skills-level?year=2021"""

In [524]:
Skills

In [525]:
Skills_EU = Skills[Skills['Countries'] != 'EU27'].reset_index(drop=True)
Skills_EU

In [526]:
Skills_EU = Skills_EU.rename(columns={'Countries': 'Country_Name'})
Skills_EU

In [527]:
Skills_EU = Skills_EU.sort_values(by='Country_Name').reset_index(drop=True)
Skills_EU

In [528]:
Skills_EU = Skills_EU[["Country_Name", "Value"]]
Skills_EU

In [529]:
import pandas as pd

Skills_EU = pd.merge(Skills_EU, Country_Index, on="Country_Name")
Skills_EU

In [530]:
import os  
os.makedirs('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV', exist_ok=True)  
Growth_EU.to_csv('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV/Skills_EU.csv')

In [531]:
""" IMPORTING THE TABLES TO SQL """

In [532]:
from sqlalchemy import create_engine
import pymysql
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="jeudi1605",
                               db="SQLP_Analysis"))

In [533]:
population_EU.to_sql('population_EU', con = engine, if_exists = 'append', chunksize = 1000, index= False)

In [538]:
GDP_EU.to_sql('GDP_EU', con = engine, if_exists = 'append', chunksize = 1000, index= False)

In [539]:
Growth_EU.to_sql('Growth_EU', con = engine, if_exists = 'append', chunksize = 1000, index= False)

In [540]:
Skills_EU.to_sql('Skills_EU', con = engine, if_exists = 'append', chunksize = 1000, index= False)

In [ ]:
""" CREATING NEW TABLES TO ESTABLISH A RELATIONSHIP FOR THE ERD """

In [ ]:
Country_Index = pd.read_csv("/Users/juliettegoardon/Desktop/SQL-Project/Country_ID.csv")
Country_Index

In [ ]:
Country_Index = Country_Index.dropna()
Country_Index = Country_Index.rename(columns={'country.id': 'Country_ID'})
Country_Index = Country_Index.rename(columns={'country.name': 'Country_Name'})
Country_Index

In [ ]:
import os  
os.makedirs('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV', exist_ok=True)  
Country_Index.to_csv('/Users/juliettegoardon/Desktop/SQL-Project/Created_CSV/Country_Index.csv')
Country_Index

In [ ]:
Country_Index.dtypes

In [ ]:
Country_Index.to_sql('Country_Index', con = engine, if_exists = 'append', chunksize = 1000, index= False)